/* 
    Document   : buttons
    Created on : July 15, 2010
    Author     : Vítor E. Silva Souza (vitorsouza@gmail.com)
    Description:
        Provides styles for buttons.
*/

.buttonAdd {
	background-image: url(../icons/button-add.png) !important;
}

.buttonBack {
	background-image: url(../icons/button-back.png) !important;
}

.buttonCancel {
	background-image: url(../icons/button-cancel.png) !important;
}

.buttonEdit {
	background-image: url(../icons/button-edit.png) !important;
}

.buttonNew {
	background-image: url(../icons/button-new.png) !important;
}

.buttonOk {
	background-image: url(../icons/button-ok.png) !important;
}

.buttonRemove {
	background-image: url(../icons/button-remove.png) !important;
}

.buttonTrash {
	background-image: url(../icons/button-trash.png) !important;
}

.buttonView {
	background-image: url(../icons/button-view.png) !important;
}
