<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="stylesheets/template.css" type="text/css" />
	<link rel="stylesheet" href="stylesheets/menu.css" type="text/css" />
	<title>Sigme - </title>
</head>

<body id="wrap">
<div id="page">
	<div id="ladoA">
		<div id="logo"><a href="/" title="Federação Espírita do Espírito Santo"><img src="images/logo_feees.png" alt="Voltar para a página inicial"/></a></div>
		<div id="logo_2"></div>
		<div id="left">
			<div id="mod1">
				<div class="moduletable">
					<h3>Categoria</h3>
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr ><td><a href="#" class="mainlevel_left" >Item</a></td></tr>
					</table>
				</div>
			</div>
		</div>
		<div id="left_2"></div>
	</div>
	
	<div id="ladoB">
		<div id="search_align">
			<div id="assinatura"></div>
			<div id="links">
				<div class="moduletable">
					<table class="contentpaneopen">
						<tr>
							<td valign="top">
								<ul>
									<li><a href="#"><img src="images/icone_home.png" border="0" /> Página Incial</a></li>
									<li><a href="#"><img src="images/icone_email.png" border="0" /> Fale Conosco</a></li>
								</ul>
								<p> </p>
							</td>
						</tr>
					</table>
					<span class="article_separator">&nbsp;</span>
				</div>
			</div>
		</div>
		<div id="menu_1"></div>
		<div id="menu">
			<div class="moduletable_menu">
				<div class="maximenuCKH" id="maximenuCK">
					<div class="maxiRoundedleft"></div>
					<div class="maxiRoundedcenter"></div>
					<div class="maxiRoundedright"></div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div id="menu_2"></div>
		<div id="navegacao"><span class="breadcrumbs pathway">Você está em: Início</span></div>
		<div class="clr"></div>
		<div id="corpo">
			<div id="conteudofull">
				<div class="moduletable">
					<h3>Título</h3>
					
					<p>Conteúdo.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clr"></div>

<div id="rodape"></div>

</body>
</html>
