/* 
    Document   : buttons
    Created on : July 15, 2010
    Author     : Vítor E. Silva Souza (vitorsouza@gmail.com)
    Description:
        Provides styles for buttons.
*/

/* MENU ITEMS */
.menuAccessLogin 					{ background-image: url(/Sigme/resources/templates/default/icons/menu-access-login.png) !important; }
.menuAccessLogout 					{ background-image: url(/Sigme/resources/templates/default/icons/menu-access-logout.png) !important; }
.menuCoreRegister				 	{ background-image: url(/Sigme/resources/templates/default/icons/menu-core-register.png) !important; }
.menuCoreCrudsManageInstitutions 	{ background-image: url(/Sigme/resources/templates/default/icons/menu-core-cruds-manageInstitutions.png) !important; }
.menuCoreCrudsManageSpiritists 		{ background-image: url(/Sigme/resources/templates/default/icons/menu-core-cruds-manageSpiritists.png) !important; }

.menuCoreCrudsManageEvents			{ background-image: url(/Sigme/resources/templates/default/icons/menu-core-cruds-manageEvents.png) !important; }
.menuCoreCrudsSubscribes			{ background-image: url(/Sigme/resources/templates/default/icons/menu-core-cruds-manageEvents.png) !important; }

.menuCoreCrudsManagement			{ background-image: url(/Sigme/resources/templates/default/icons/menu-core-cruds-management.png) !important; }
.menuCoreCrudsManagementType		{ background-image: url(/Sigme/resources/templates/default/icons/menu-core-cruds-management-edit.png) !important; }

.menuCoreInstallSystem 				{ background-image: url(/Sigme/resources/templates/default/icons/menu-core-installSystem-install.png) !important; }
.menuSecretariatMailingSendMailing 	{ background-image: url(/Sigme/resources/templates/default/icons/menu-secretariat-mailing-sendMailing.png) !important; }

/* BUTTONS */

.buttonAdd 		{ background-image: url(/Sigme/resources/templates/default/icons/button-add.png) !important; }
.buttonBack 	{ background-image: url(/Sigme/resources/templates/default/icons/button-back.png) !important; }
.buttonCancel 	{ background-image: url(/Sigme/resources/templates/default/icons/button-cancel.png) !important; }
.buttonEdit 	{ background-image: url(/Sigme/resources/templates/default/icons/button-edit.png) !important; }
.buttonNew 		{ background-image: url(/Sigme/resources/templates/default/icons/button-new.png) !important; }
.buttonOk 		{ background-image: url(/Sigme/resources/templates/default/icons/button-ok.png) !important; }
.buttonRemove 	{ background-image: url(/Sigme/resources/templates/default/icons/button-remove.png) !important; }
.buttonReport 	{ background-image: url(/Sigme/resources/templates/default/icons/button-report.png) !important; }
.buttonSendmail { background-image: url(/Sigme/resources/templates/default/icons/button-sendmail.png) !important; }
.buttonTrash 	{ background-image: url(/Sigme/resources/templates/default/icons/button-trash.png) !important; }
.buttonView 	{ background-image: url(/Sigme/resources/templates/default/icons/button-view.png) !important; }
