html {
  height: 100% !important;
}

form {
  margin: 0;
  padding: 0;
}

img,table {
	border: none;
}

body {
	font-family:Arial, Verdana, "Trebuchet MS", "Times New Roman";
	line-height: 1.3em;
	font-size: 14px;
	color: #444;
	background-color:#fff;
}

a:link, a:visited, a {
	text-decoration: none;
	font-weight: normal;
	color: #FF6600;
	outline: none;	
}

a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #999;
}

.button, .validate, button.button  {
	font-size: 10px;
	border: 1px solid #ccc;
	color: #ddd;
	background: #666;
	padding-bottom: 1px;
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
}

.search input.button {
	text-align:center;
}

input.button:hover, .validate:hover  {
	color: #ccc;
	background: #888;
}

p {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: justify;
}

.inputbox {
	border: 1px solid #666;
	color: #666;
	padding: 2px;
	background: transparent;
}
.inputbox:hover {
	background: #eee;
	color:#666;

}
/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/
/* Estilos da �rea da p�gina do template*/
#wrap{
	width:auto !important; /* IE6 hack*/
	margin-top: 0px; /*center hack*/
	margin-bottom: 0px;
	margin-left:auto;
	margin-right:auto;
	text-align:left; /*center hack*/
	background:url(../images/bg_page.png) #fff top left repeat-x;
}

#page{
	width:970px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}
#ladoA{
	width:210px;
	float:left;
}
#ladoB{
	width:760px;
	float:left;	
}
/* Estilos da �rea de topo do template*/
#topo{
	height:110px;
	text-align:center;
}
#logo{
	width:137px;
	height: 165px;
	float:left;
	margin-left: 20px;
	border:0px solid #ccc;	
}
#logo_2{
	width:53px;
	float:left;	
	height:60px;
	text-align:center;
	border:0px solid #ccc;
	background: url(../images/bg_logo01.png) transparent top left no-repeat;
	margin-top: 105px;
}
/*Estilos Busca*/
#search_align{
	width:750px;
	float:left;
	height: 105px;
}
#busca{
	width:218px;
	float:left;
	text-align:right;
	border:0px solid #ccc;
	padding: 12px 0 0 0;
}
#assinatura{
	background: url(../images/assinatura_feees.png) transparent top left no-repeat;
	float:left;
	width: 180px;
	height: 80px;	
	margin-top: 30px;
}

#links{
	width:340px;
	float:left;
	border:0px solid #ccc;
	text-align:right;
}
#links div.moduletable, #links div.moduletable table.contentpaneopen{
	padding:0;
	margin: 0;
	width:100% !important;
}
#links ul{
	padding:0;
	margin: 10px 0 0 0;
	width:100% !important;
	border:0px solid #ccc;
}
#links li{
	display:inline;
	font-size: 11px;
	border:0px solid #ccc;
	padding-right: 20px;
}
#links li a{
	color: #fff;
}

#mod_search_searchword{
	font-size:12px;
	width: 150px;
	height: 18px;
	border: 0;
	background-color:#FFF;
}
div.search input.button{
	border: 0;
	height: 22px;
	margin-left: 5px;
	background-color: #C9D8F0;
	color:#FFF;
	padding: 0 10px;
}
#menu{
	width:690px;
	float:left;	
	height:49px;
	text-align:center;
	border:0px solid #ccc;
	background: url(../images/bg_menu03.png) transparent top left repeat-x;
}
#menu_1{
	width:40px;
	float:left;	
	height:49px;
	text-align:center;
	border:0px solid #ccc;
	background: url(../images/bg_menu01.png) transparent top left no-repeat;
}
#menu_2{
	width:20px;
	float:left;	
	height:49px;
	text-align:center;
	border:0px solid #ccc;
	background: url(../images/bg_menu02.png) transparent top left no-repeat;
}
/* Estilos da �rea de Corpo do template*/
#corpo{
	padding: 0px 20px 20px 20px;
}
#banner{
	width:100%;
	float:left;
	overflow:hidden;
	margin: -10px 0px 10px 30px;
}

/*Navega��o*/
#navegacao{	
	width:750px;
	float:left;	
	height:61px;
	text-align:left;
	padding-left: 30px;
	border:0px solid #ccc;
	background: url(../images/bg_corpo01.png) transparent top left no-repeat;
}
#navegacao span.pathway, #navegacao span.breadcrumbs {
	padding-top: 15px;
	font-size: 12px;
	color: #354C7E;
	font-weight:bold;
}
a.pathway{
	color: #666;
}
#componentes{
	float:left;
	overflow:hidden;
	padding:0px 0px 0px 0px;
	margin: 0px 10px 0px 10px
}
#conteudo{
	float:left;
	width:500px;
}
#conteudofull{
	float:left;
}

/*Left*/
#left{
	width:210px;
	float:left;	
	text-align:center;
	border:0px solid #ccc;
	background: url(../images/bg_menuaux01.png) #4361A2 top left no-repeat;
}
#left_2{
	width:210px;
	float:left;	
	height:20px;
	text-align:center;
	border:0px solid #ccc;
	background: url(../images/bg_menuaux02.png) #385187 top left no-repeat;
}
#mod1{
	width:100%;
	float:left;
	margin-top:40px;
	padding: 0px;
	background: url(../images/bg_menuaux.png) transparent bottom left repeat-x;
	height: 300px;
}

#mod1 div.moduletable h3{
	color:#FFF;
	font-size:17px;
	background: url(../images/linha_menu_left.png) transparent bottom left repeat-x;
	border: 0;
}

#mod1 div.moduletable{
	width:85%;
	padding: 0px;
	margin-left:auto;
	margin-right:auto;
}
#mod1 div.moduletable td{
	text-align:left;
	padding: 5px 0 0 20px;	
}

#compenentessecundarios{
	border: 0px solid #ccc;
	margin-top:10px;
}
#mod1, #mod2{
	width:100%;
	float: left;
	border: 0px solid #ccc;
}
#mod3, #mod4{
	width:277px;
	float: left;
	margin: 0 10px;
	border: 0px solid #ccc;
}
#right{
	width:200px;
	float: left;
	margin: 0 0px;
	border: 0px solid #ccc;
}

/* Estilos da �rea de Rodape do template*/
#rodape{
	margin-top: 30px;	
	overflow:hidden;
	height:390px;
	padding-top: 40px;
	text-align:center;
	background: url(../images/bg_rodape.png) transparent top left repeat-x;
}
#rodapealign{
	width:970px;
	border: 0px solid #CCC;
	font-size:11px;
	color:#FFF;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;	
}
#rodapealign a{
	color: #C7D0E3;
}
#rodapealign a:hover{
	color: #fff;
}

#rodapemenu{
	width:580px;
	border: 0px solid #CCC;
	float:left;
}
#rodapemenu div.moduletable{
	width:145px;
	float:left;
}
#rodapemenu div.moduletable h3{
	
}
#rodapeinfo{
	width:390px;
	border: 0px solid #CCC;
	float:left;
}
#rodapeinfo div.moduletable h3{
	padding: 0 60px !important;
}
#rodapeinfo div.moduletable .contentpaneopen td{
	padding: 0 60px !important;
}
#rodapemenu div.moduletable h3, #rodapeinfo div.moduletable h3{
	height: 40px;
	font-size: 12px;
	vertical-align:bottom !important;
	color:#C7D0E3;
	font-weight:bold;
	border: 0;
	padding: 0px 30px;	
	background: url(../images/linha_menu_left.png) transparent bottom left repeat-x;
}

#rodapealign .contentpaneopen td{
	padding: 0 20px;
}

/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/
span.breadcrumbs{
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	display:block;
	font-size:10px;
}

div.offline {
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

/* headers */
div.componentheading, td.contentheading {
	padding: 8px 0 8px 10px;
}

table.blog {
	
}
h1 {
	padding: 0;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	color: #333;
	text-align: left;
	width: 100%;
}

h2{
	padding: 0;
	font-size: 12px;
	vertical-align: middle;
	color:#666;
	text-align: left;
	font-weight: bold;
	text-decoration:underline;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

h4 {
	color: #333;
}

h3, table.moduletable th, legend {
	margin: 0;
	font-size: 18px;
	text-align: left;
	color:#3C568F;
	padding: 5px 0px 5px 0px;
	font-weight:normal;
	border-bottom:#ccc 1px solid;
}

.componentheading{
	margin: 0;
	font-size: 25px;
	text-align: left;
	color:#32497C;
	line-height: 100%;
	background: #E9EFF8;
	padding-left: 20px;
}
.contentheading{
	margin: 0;
	font-size: 20px;
	text-align: left;
	color:#32497C;
	line-height: 100%;
}
/* small text */
.small {
	font-size: 10px;
	color: #555;
	font-weight: normal;
	text-align: left;
}

.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 10px;
	color: #555;
	font-weight: normal;
	text-align: right;
}

.createdate {
	height: 20px;
	vertical-align: top;
	font-size: 10px;
	color: #555;
	font-weight: normal;
	vertical-align: top;
	padding-top: 0px;
}

a.readon {
	display: block;
	float: right;
	font-size: 10px;
	text-decoration: none;
	padding: 3px 5px;
	background: #32497C;
	color:#FFF;
}

a.readon:hover {
	text-decoration: underline;
}

/* form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }


/** overlib **/

.ol-foreground {
	background-color: #f1f1f1;
	color: #333;
}

.ol-background {
	background-color: #f1f1f1;
	color: #333;
}

.ol-textfont {
	font-size: 10px;
}

.ol-captionfont {	
	font-size: 12px;
	color: #f6f6f6;
	font-weight: bold;
}
.ol-captionfont a {
	background-color: #f1f1f1;
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

.ol-closefont {}

/* spacers */
span.article_separator {
	display: block;
	height: 20px;
}

.article_column {

}

.column_separator {
	
}

td.buttonheading {
	text-align: right;
	width: 0;
}

.clr {
	clear: both;
}

table.blog span.article_separator {
	display: block;
	height: 20px;
}



/* table of contents */
table.contenttoc {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

table.contenttoc td {
  padding: 0 5px;
}


/* content tables */
td.sectiontableheader {
  color: #333;
  font-weight: bold;
  padding: 4px;
  border-bottom: 1px solid #666;
}
td.sectiontableheader a{
	color: #444;
	font-weight: bold;
}
td.sectiontableheader a:hover{
	color: #333;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
  padding: 4px;
}

tr.sectiontableentry1{
	background: #eee;
}
tr.sectiontableentry2{}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  padding: 3px;
  color: #666;
  font-size: 10px;
}


/* content styles */
.contentpaneopen, table.contentpane {
	margin: 0;
	padding: 0;
}

table.contentpane td{
	text-align: left;
}

table.contentpane td.contentdescription {
	width: 100%;
}

table.contentpane  {
	text-align: left;
	float: left;
	width: 100%;
	margin: 8px;
}

table.contentpane ul li a .category {
	color: #FF8800;
}

table.contentpane ul li {
	color: #666;
}

table.contentpaneopen {
	margin: 2px 8px;
}

table.contentpaneopen li {
	margin-bottom: 5px;
}

table.contentpaneopen fieldset {
	border: 0;
	border-top: 1px solid #666;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

table.contentpaneopen h4 {
	color: #669933;
}

.highlight {
	background-color: #fffebb;
}

/* Menu Principal */
a.mainlevel{
	display:inline;
	text-decoration:none;
	color:#ccc;
	font-size:16px;
	text-align:left;
	text-shadow: 2px 2px 3px #333;
	height: 40px;
	line-height: 40px;
	padding: 10px 20px;
}
a.mainlevel:hover {
	color:#fff;
}
a.sublevel{
	padding-left: 20px;
	font-size:12px;
	display:block;
}
a.sublevel:hover{}

#active_menu {	
	color:#fff;
	font-size:16px;
	text-shadow: 2px 2px 5px #000;
}

/* Menu Left */
a.mainlevel_left{
	text-decoration:none;
	color:#ccc;
	font-size:13px;
	text-align:left;
	text-shadow: 2px 2px 3px #333;
}
a.mainlevel_left:hover {
	color:#fff;
	text-shadow: 2px 2px 3px #000;
}

/*Menu Rodape*/

a.mainlevel_rodape{
	display:inline;
	text-decoration:none;
	color:#4361A2;
	font-size:12px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
}
a.mainlevel_rodape:hover {
	color:#444;
}
#active_menu_rodape {	

}

/*Inicio de estilos Modules*/
table.user1user2 div.moduletable {
margin-bottom: 0px;
}

div.moduletable, div.module, .moduletable_menu {
	border-bottom:#CCCCCC 0px solid;
	margin-bottom: 10px;
}
	.moduletable_menu h3{
		
	}
	.moduletable_menu ul{
		
	}
	.moduletable_menu li{
		
		
	}
	.moduletable_menu li a{
		
	}
	html>body .moduletable_menu li a{
		
	}	
	.moduletable_menu li a:hover, a#active_menu:link, a#active_menu:visited{
		
	}

div.module_menu, div.module {
	
}

div.module_menu div, div.module {
	
}

div.module_menu div div, div.module div div {
	
}

div.module_menu div div div, div.module div div div{
	
}

div.module_menu div div div div, div.module div div div div {
	
}

div.module div div div form {
	
}

div.module div div div form ul {
	
}

div.module_menu ul {
	
}

div.module_menu ul li{
	
}

div.module_menu ul li a:link, div.module_menu ul li a:visited {
	
}

/*Fim de estilos Modules*/

table.adminform textarea {
  
}

form#form-login fieldset { 
	
}
form#form-login ul li{ 
	
}

form#form-login ul li a {
	
}

/* thumbnails */
div.mosimage         {  margin: 5px; }
div.mosimage_caption {  font-size: .90em; color: #333; }

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #333; text-align: center; }

/* Parameter Table */
table.paramlist {
	margin-top: 5px;
}

table.paramlist td.paramlist_key {
	width: 128px;
	text-align: left;
	height: 30px;
}

table.paramlist td.paramlist_value {
}

div.message {
	font-weight: bold;
	font-size : 14px;
	color : #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f8;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.bannergroup {
}

.banneritem {
}

/* Text advert style */

.banneritem_text {
	padding: 4px;
	font-size: 11px;
}

.bannerfooter_text {
	padding: 4px;
	font-size: 11px;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

/* Polls */
.pollstableborder td {
	text-align: left;
}

/* Frontend Editing*/
fieldset {
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 15px;
}

legend {
	margin: 0;
	padding: 0 10px;
}

td.key {
	border-bottom:1px solid #eee;
	color: #333;
}

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message dd.message ul { 
	background: #C3D2E5;
	padding: 0;
	margin: 0;
}

/* System Error Messages */
#system-message dd.error ul { 
	color: #c00; 
	background: #E6C0C0; 
	border-top: 3px solid #DE7A7B; 
	border-bottom: 3px solid #DE7A7B;
	padding: 0;
	margin: 0;
}

/* System Notice Messages */
#system-message dd.notice ul { 
	color: #c00; 
	background: #EFE7B8; 
	border-top: 3px solid #F0DC7E; 
	border-bottom: 3px solid #F0DC7E;
	padding: 0;
	margin: 0;
}



/* ****************************************************************************** */
/* blue */
input, button {
	font-size:10px;
	border-top: #CCCCCC solid 1px;
}
/* blue */
input[type="checkbox"], input[type="radio"]{
   background: transparent;
   border: none;
}

/* -------------------------- */
a.sgfooter:link, a.sgfooter:visited {
	color: #999;
	
	text-decoration: none;
}
a.sgfooter:hover {
	color: #999;
	
	text-decoration: none;
}
#sgf {
	font-size: 12px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: #999;
	
}
.sgf {
	text-align: right;
	font-size: 12px;
	
	color: #999;
	text-decoration: none;
}
.sgf1 {
	font-size: 12px;
	
	color: #999;
	text-align: left;
}

a.sglink:link, a.sglink:visited {
	color: #999;
	font-size: 12px;
	
	text-decoration: none;
}
a.sglink:hover {
	color: #999;
	
	text-decoration: none;
	}