
/*
Adapted from a design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

a {
	text-decoration: none;
	color: #339CCB;
}

a:hover { }


/* Header */

#header-wrapper {
	height: 90px;
	background: #1582AB;
	border-bottom: 10px solid #2AA1CC;
}

#header {
	width: 950px;
	margin: 0 auto;
	padding: 0px 0px 0px 30px;
}


/* Logo */

#logo {
	float: left;
	width: 700px;
	margin: 0;
	padding: 0;
	color: #000000;
	background: url(../images/logo.png) no-repeat left 15px;
}

#logo h1 {
	font-weight: normal;
	color: #3E3530;
	margin: 0px;
	padding: 0px 0px 0px 80px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.5em;
	background: redc;
}

#logo p {
	margin: 0 0 0 10px;
	padding: 0px 0 0 72px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}


/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#page-bgtop {
	padding: 20px 0px;
}


/* Content */

#content {
	float: right;
	width: 700px;
	padding: 5px;
}

#content h1 {
	margin: 0 0 10px 0;
	padding: 0;
	font-weight: normal;
	color: #3E3530;
}


/* Sidebar */

#sidebar {
	float: left;
	width: 260px;
	margin: 0px;
	padding: 5px;
}


/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #1582AB;
	border-top: 1px solid #1885B0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}