/*** PRIMEFACES WIDGETS ***/

/* Aligning the menu in the center of the sidebar: */
.wijmo-wijmenu {
	margin-left: auto;
	margin-right: auto;
}

/* Placing the AJAX indicator in the right corner of the screen. */
#ajaxStatus {
	float: right;
	margin: 57px 10px 0 0;
}

/* Reducing the size of the font in PrimeFaces widgets: */
.ui-widget {
	font-size: 10pt;
	margin: 0 0 3px 2px;
}

/* Reducing the size of the font in autocomplete lists. */
.ui-autocomplete-list {
	font-size: 8pt;
}

/* Reducing the size of the font in message boxes and removing its borders and background color. */
.ui-messages .ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal { 
	font-size: 8pt;
	background-color: transparent;
	border: none;
}

/* Making disabled fields look like normal fields. */
.ui-inputfield.ui-state-disabled {
	opacity: 1;
}


/*** SIGME FORMS ***/

div.sigmeForm {
	margin: 10px 0 10px 0;
	width: 100%;
}

div.sigmeForm div.sigmeFormField {
	width: 100%;
	padding: 0;
	background-color: #E6E6FA;
	border-bottom: 5px solid white;
}

div.sigmeForm div.sigmeFormField div.label {
	float: left;
	width: 24%;
	text-align: right;
	padding: 5px 2px 5px 2px;
}

div.sigmeForm div.sigmeFormField div.field {
	float: right;
	width: 72%;
	border-left: 5px solid white;
	padding: 5px 7px 5px 7px;
}

div.sigmeForm div.sigmeFormField div.clear {
	clear: both;
}

div.sigmeForm div.sigmeFormField div.field ul {
	list-style-image: url(../images/error-icon.png);
	display: block;
	margin: 0 0 3px 0;
	padding: 0;
	width: 67%;
}

div.sigmeForm div.sigmeFormField div.field ul li {
	margin-left: 23px;
}

div.sigmeForm div.sigmeFormFieldError {
	background-color: #FFA07A;
}

div.sigmeForm div.sigmeFormFieldError div.label {
	font-weight: bold;
}

div.sigmeForm div.sigmeFormFieldError div.field {
	font-weight: bold;
}

div.sigmeForm div.sigmeFormButton {
	width: 100%;
	clear: both;
	padding: 5px 0 5px 0;
	text-align: right;
}

div.sigmeFormInternalButton {
	width: 100%;
	text-align: right;
}



/*** SIGME CRUD LISTING ***/

/* Listing page - Filter bar. */
div.crud div.crudFilterBar {
	margin: 0 20px 0 auto;
	text-align: right;
}

div.crud div.crudFilterBar img {
	margin-left: 5px;
}

/* Fixing alignment on filter list box. */
div.crud div.crudFilterBar .ui-helper-clearfix::after {
	content: none;
}

/* Listing page - Filter info. */
div.crud div.crudFilterInfo {
	font-size: 8pt;
	margin: 0 20px 0 auto;
	text-align: right;
}

/* Listing page - Listing table. */
div.crud div.ui-datatable {
	margin: 10px auto 15px auto;
	width: 95%;
}
div.crud div.sigmeFormField div.ui-datatable {
	margin: 0 auto 0 auto;
	width: 100%;
}
div.crud div.ui-datatable tbody.ui-datatable-data-empty div {
	padding: 10px;
	text-align: center;
}

/* Listing page - Buttons panel below the navigation panel. */
div.crud div.crudButtons {
	margin: 15px auto 15px auto;
	text-align: right;
	width: 95%;
}
div.crud div.crudButtons button {
	margin-left: 5px;
}
